<section class="uc__header">
  <div class="uc__header--info">
    <i class="material-symbols-outlined">info</i>
  </div>
  <div class="uc__header--notifications">
    <i class="material-symbols-outlined">notifications</i>
  </div>
  <div class="uc__header--auth">
    <div class="uc__header--auth__avatar"></div>
    <div class="uc__header--auth__role">
      <span>Admin</span>
    </div>
    <div class="uc__header--auth__expand">
      <i class="material-symbols-outlined">expand_more</i>
    </div>
  </div>
</section>